@import "./../../mixin.scss";
@import "./../../var.scss";
section {
  width: 100vw;
  max-width: 100%;
  padding: 110px 100px 0 100px;
  @include dflex($fd: column);
  @media (max-width: 900px) {
    padding-top: 100px;
  }
  @media (max-width: 1200px) {
    padding-inline: 50px;
  }
  @media (max-width: 700px) {
    padding-inline: 25px;
  }
}
.ref-header {
  margin-bottom: 80px;
  @include dflex($fd: column);
  h2 {
    font-size: 78px;
    font-weight: 800;
    cursor: default;

    &:hover {
      color: $color-highlight;
    }

    @media (max-width: 900px) {
      font-size: 58px;
    }
    @media (max-width: 700px) {
      font-size: 45px;
    }
    @media (max-width: 500px) {
      font-size: 32px;
    }
  }
  p {
    text-wrap: wrap;
    max-width: 700px;
    font-family: "Overpass";
    font-size: 23px;
    margin: 35px 0 0 0;
    @media (max-width: 900px) {
      text-align: center;
    }
    @media (max-width: 500px) {
      font-size: 16px;
    }
  }
}
.to-footer-arrow {
  cursor: pointer;
  width: 80%;
  height: 180px;
  margin: -10px 0 100px;
  @include dflex($jc: end);
  @media (max-width: 900px) {
    justify-content: center;
  }
  @media (max-width: 600px) {
    height: 80px;
    margin: -50px 0 100px;
  }
  .arrow {
    width: 180px;
    height: 180px;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url("./../../../public/assets/img/arrows/toLeft1.svg");
    @media (max-width: 600px) {
      background-size: 60%;
    }
  }

  &.hovered .arrow {
    @media (min-width: 901px) {
      animation: arrowAnimation 0.175s forwards;
    }
    @media (max-width: 900px) {
      animation: arrowAnimationMobile 0.175s forwards;
    }
  }
}
@keyframes arrowAnimation {
  0% {
    background-image: url("./../../../public/assets/img/arrows/toLeft1.svg");
  }
  50% {
    background-image: url("./../../../public/assets/img/arrows/toLeft2.svg");
    transform: translateY(50px) translateX(-50px);
  }
  100% {
    background-image: url("./../../../public/assets/img/arrows/toLeft3.svg");
    transform: translateY(100px) translateX(-100px);
  }
}
@keyframes arrowAnimationMobile {
  0% {
    background-image: url("./../../../public/assets/img/arrows/toLeft1.svg");
  }
  50% {
    background-image: url("./../../../public/assets/img/arrows/toLeft2.svg");
    transform: translateY(30px) translateX(-30px);
  }
  100% {
    background-image: url("./../../../public/assets/img/arrows/toLeft3.svg");
    transform: translateY(60px) translateX(-60px);
  }
}
