<section>
  <div class="ref-header">
    <h2>Portfolio</h2>
    <p>
      Explore a selection of my work here - Interact with projects to see my
      skills in action.
    </p>
  </div>
  @for (ref of references; track $index) { @if ($index % 2 === 0) {
  <app-referenceLeft
    [skills]="ref.skills.join(' | ')"
    [name]="ref.name"
    [refNum]="$index + 1"
    [refAll]="references.length"
    [description]="ref.description"
    [imageUrl]="ref.img"
  ></app-referenceLeft>
  } @else if ($index % 2 !== 0) {
  <app-referenceRight
    [skills]="ref.skills.join(' | ')"
    [name]="ref.name"
    [refNum]="$index + 1"
    [refAll]="references.length"
    [description]="ref.description"
    [imageUrl]="ref.img"
  ></app-referenceRight>
  } }
  <div class="to-skills-arrow" (mouseenter)="onMouseEnter()">
    <svg viewBox="0 0 236 235" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path
        d="M42.1074 110.893V193.52H124.734"
        stroke="black"
        stroke-width="4"
      />
      <path
        d="M194.313 41.3135L42.106 193.521"
        stroke="black"
        stroke-width="4"
      />
    </svg>
  </div>
</section>
