<section>
  <div class="ref-header">
    <h2>Portfolio</h2>
    <p>
      Explore a selection of my work here - Interact with projects to see my
      skills in action.
    </p>
  </div>
  @for (ref of references; track $index) { @if ($index % 2 === 0) {
  <app-referenceLeft
    [skills]="ref.skills.join(' | ')"
    [name]="ref.name"
    [refNum]="$index + 1"
    [refAll]="references.length"
    [description]="ref.description"
    [imageUrl]="ref.img"
  ></app-referenceLeft>
  } @else if ($index % 2 !== 0) {
  <app-referenceRight
    [skills]="ref.skills.join(' | ')"
    [name]="ref.name"
    [refNum]="$index + 1"
    [refAll]="references.length"
    [description]="ref.description"
    [imageUrl]="ref.img"
  ></app-referenceRight>
  } }
</section>
