@import "./../../../mixin.scss";
@import "./../../../var.scss";
.ref-flex {
  max-width: 1920px;
  width: calc(100vw - 200px);
  height: 450px;
  position: relative;
  @media (max-width: 1400px) {
    height: 29.167vw;
  }
  @media (max-width: 1200px) {
    width: calc(100vw - 100px);
  }
  @media (max-width: 900px) {
    height: auto;
  }
  @media (max-width: 700px) {
    width: calc(100vw - 50px);
  }
  @media (min-width: 901px) {
    &:hover {
      .ref-animate .ref-content {
        opacity: 1;
        left: 0;
      }
      .ref-animate .img-container::before {
        z-index: 1;
        border-color: black;
        transform: translateY(20px) translateX(-20px);
      }
      .ref-animate .img-container img {
        filter: grayscale(0);
      }
      .ref-animate .img-container .ref-arrow {
        transform: rotate(135deg) scale(1.9);
        opacity: 1;
        @media (max-width: 1300px) {
          transform: rotate(135deg) scale(1.15);
        }
        @media (max-width: 950px) {
          transform: rotate(135deg) scale(0.8);
        }
      }
    }
  }
  .ref-number {
    position: absolute;
    top: -20px;
    left: 0;
    @media (max-width: 900px) {
      top: -46px;
    }
    > span {
      font-weight: 700;
      font-size: 48px;
      @media (min-width: 901px) and (max-width: 1400px) {
        font-size: 3.4vw;
      }
      @media (max-width: 900px) {
        font-size: 4vw;
      }
    }
  }
  .ref-animate {
    @media (max-width: 900px) {
      @include dflex($fd: column, $ai: end);
    }
    .img-container {
      position: absolute;
      display: flex;
      justify-content: end;
      right: 0;
      @media (max-width: 900px) {
        position: relative;
      }
      .ref-arrow {
        position: absolute;
        left: -50px;
        top: 45%;
        width: 60px;
        z-index: 3;
        opacity: 0;
        transition: opacity 0.2s ease-in-out, transform 0.2s ease-in-out;
        @media (max-width: 900px) {
          left: auto;
          right: 88.5%;
          transform: rotate(135deg) scale(0.8);
          opacity: 1;
        }
        @media (max-width: 500px) {
          top: 40%;
          width: 55px;
          right: 82.5%;
          transform: rotate(135deg) scale(0.8);
        }
        @media (max-width: 430px) {
          right: 82%;
        }
        @media (max-width: 400px) {
          width: 50px;
        }
        @media (max-width: 370px) {
          right: 81%;
        }
        @media (max-width: 330px) {
          right: 80%;
        }
      }
      img {
        max-width: 620px;
        height: auto;
        width: 620px;
        filter: grayscale(100);
        transition: filter 0.2s ease-in-out;
        @media (max-width: 1400px) {
          width: 41.86vw;
        }
        @media (max-width: 900px) {
          max-width: none;
          width: 90%;
          filter: grayscale(0);
        }
      }

      &::before {
        content: "";
        position: absolute;
        top: 0px;
        left: 0;
        right: 0;
        bottom: 0;
        border: 4px solid transparent;
        transition: transform 0.175s, border-color 0.175s;
        @media (max-width: 900px) {
          z-index: 1;
          border-color: black;
          left: 10%;
          transform: translateY(20px) translateX(-20px);
        }
        @media (max-width: 500px) {
          transform: translateY(10px) translateX(10px);
        }
      }
    }
    .ref-content {
      position: absolute;
      opacity: 0;
      left: 50%;
      top: 40px;
      transition: opacity 0.2s ease-in-out, left 0.2s ease-in-out,
        transform 0.2s ease-in-out;
      @media (max-width: 1300px) {
        top: 3vw;
      }
      @media (max-width: 900px) {
        position: static;
        margin: 50px 0 100px 0;
        transform: translateY(0);
        opacity: 1;
      }
      .ref-info {
        @include dflex($fd: column, $g: 15px, $ai: start);
        @media (max-width: 1050px) {
          gap: 10px;
        }
        @media (max-width: 500px) {
          align-items: center;
        }
        > h2 {
          font-weight: 800;
          font-size: 45px;
          @media (min-width: 901px) and (max-width: 1400px) {
            font-size: 3.2vw;
          }
          @media (max-width: 900px) {
            width: 100%;
            font-size: 4vw;
          }
          @media (max-width: 500px) {
            text-align: center;
          }
        }
        > span {
          color: $color-highlight;
          font-size: 23px;
          font-family: "Overpass";
          @media (min-width: 901px) and (max-width: 1400px) {
            font-size: 16px;
          }
          @media (min-width: 901px) and (max-width: 950px) {
            font-size: 14px;
          }
          @media (max-width: 900px) {
            width: 100%;
            font-size: 23px;
          }
          @media (max-width: 800px) {
            font-size: 19px;
          }
          @media (max-width: 500px) {
            font-size: 16px;
            text-align: center;
          }
        }
        > p {
          font-size: 20px;
          max-width: 650px;
          font-family: "Overpass";
          text-wrap: wrap;
          padding-right: 50px;
          @media (min-width: 901px) and (max-width: 1500px) {
            max-width: 550px;
          }
          @media (min-width: 901px) and (max-width: 1400px) {
            padding-right: 100px;
            font-size: 16px;
          }
          @media (min-width: 901px) and (max-width: 1100px) {
            font-size: 14px;
          }
          @media (min-width: 901px) and (max-width: 1050px) {
            padding-right: 150px;
            max-width: 500px;
          }
          @media (max-width: 900px) {
            max-width: 500px;
            padding-right: 0px;
            font-size: 20px;
          }
          @media (max-width: 800px) {
            font-size: 16px;
            max-width: 400px;
          }
          @media (max-width: 500px) {
            font-size: 14px;
            width: 290px;
            text-align: center;
          }
        }
        .ref-btns {
          @include dflex($jc: start, $g: 48px);

          @media (min-width: 901px) and (max-width: 1400px) {
            gap: 16px;
          }
          @media (max-width: 900px) {
            justify-content: end;
          }
          @media (max-width: 600px) {
            gap: 12px;
          }
          button {
            cursor: pointer;
            @include button(
              $width: 189px,
              $hoverWidth: 232px,
              $mt: 0,
              $hmr: 0,
              $hml: 0
            );
            @media (max-width: 1400px) {
              width: 150px;
              height: 50px;
              font-size: 16px;
              &:hover {
                width: 180px;
              }
            }
            @media (max-width: 500px) {
              width: 120px;
              font-size: 14px;
              height: 40px;
              &:hover {
                width: 150px;
              }
            }
            @media (max-width: 330px) {
              width: 110px;
              &:hover {
                width: 140px;
              }
            }
          }
        }
      }
    }
  }
}

.right-aligned {
  @include dflex($jc: right);
  @media (max-width: 500px) {
    width: 100%;
    justify-content: center;
  }
}
