<section>
  <div class="flex">
    <div class="content">
      <h2>About me</h2>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam id
        optio unde molestias enim aspernatur dicta consequatur vitae
        voluptatibus minus qui tenetur, dignissimos deserunt accusantium odio,
        doloremque quo molestiae sapiente?
      </p>
      <p>If you think I'd be good match for your Peojects, contac me!</p>
      <div class="btn-center">
        <button>Let's talk</button>
      </div>
    </div>
    <img src="./assets/img/application.jpg" alt="" />
  </div>
</section>
