<section>
  <div class="flex">
    <div class="content">
      <h2 class="autoShow">About me</h2>
      <p class="autoShow">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam id
        optio unde molestias enim aspernatur dicta consequatur vitae
        voluptatibus minus qui tenetur, dignissimos deserunt accusantium odio,
        doloremque quo molestiae sapiente?
      </p>
      <p class="autoShow">
        If you think I'd be good match for your Peojects, contac me!
      </p>
      <div class="btn-center autoShow">
        <button>Let's talk</button>
      </div>
    </div>

    <div class="img-container autoShow">
      <img src="./assets/img/application.jpg" />
    </div>
  </div>
  <div class="to-skills-arrow autoShow" (mouseenter)="onMouseEnter()">
    <svg viewBox="0 0 236 235" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path
        d="M42.1074 110.893V193.52H124.734"
        stroke="black"
        stroke-width="4"
      />
      <path
        d="M194.313 41.3135L42.106 193.521"
        stroke="black"
        stroke-width="4"
      />
    </svg>
  </div>
</section>
