<section>
  <div class="flex">
    <div class="content">
      <h2 class="autoShow">About me</h2>
      <p class="autoShow">
        I am a Front-End Developer based in Leipzig, Germany. After a decade in
        logistics, I transitioned to education, earning a Master's in Medical
        Physics. My journey into programming began during my master's studies,
        where I gained foundational knowledge in Python for data analysis.
        Having completed my front-end development training, I am now expanding
        my expertise into back-end development to become a full-stack developer.
        I am passionate about coding and aim to pursue a professional career as
        a skilled programmer.
      </p>
      <p class="autoShow" style="margin-top: 20px">
        If you think I'd be good match for your Peojects, contac me!
      </p>
      <div class="btn-center autoShow">
        <button (click)="scrollToFooter()">Let's talk</button>
      </div>
    </div>

    <div class="img-container autoShow">
      <img src="./assets/img/application.jpg" />
    </div>
  </div>
  <div
    (click)="scrollToSkills()"
    class="to-skills-arrow autoShow"
    (mouseenter)="onMouseEnter()"
  >
    <div class="arrow"></div>
  </div>
</section>
