@import "./../../../mixin.scss";
@import "./../../../var.scss";

nav {
  padding: 31px 100px;
  position: fixed;
  top: 0;
  z-index: 999;
  width: 100vw;
  @include dflex();
  @include dflex();
  height: $navHeight;
  background: $bg-color;
  @media (max-width: 1200px) {
    padding: 31px 50px;
  }
  @media (max-width: 700px) {
    padding: 31px 25px;
  }
  .flex {
    width: 100%;
    max-width: 1920px;
    @include dflex($jc: space-between);
    > img {
      cursor: pointer;
      width: 120px;
    }
    .burger-menu {
      cursor: pointer;
      width: 40px;
      height: 40px;
      background-position: center;
      background-repeat: no-repeat;
      background-image: url("./../../../../public/assets/img/burger_menu/1.svg");
    }
    .openMenuAnimation {
      background-image: url("./../../../../public/assets/img/burger_menu/5.svg");
      animation: openBurgerMenu 0.4s;
    }
    .closeMenuAnimation {
      background-image: url("./../../../../public/assets/img/burger_menu/1.svg");
      animation: closeBurgerMenu 0.4s;
    }
  }
}

@keyframes openBurgerMenu {
  0% {
    background-image: url("./../../../../public/assets/img/burger_menu/1.svg");
  }
  25% {
    background-image: url("./../../../../public/assets/img/burger_menu/2.svg");
  }
  50% {
    background-image: url("./../../../../public/assets/img/burger_menu/3.svg");
  }
  75% {
    background-image: url("./../../../../public/assets/img/burger_menu/4.svg");
  }
  100% {
    background-image: url("./../../../../public/assets/img/burger_menu/5.svg");
  }
}
@keyframes closeBurgerMenu {
  0% {
    background-image: url("./../../../../public/assets/img/burger_menu/5.svg");
  }
  33% {
    background-image: url("./../../../../public/assets/img/burger_menu/6.svg");
  }
  66% {
    background-image: url("./../../../../public/assets/img/burger_menu/7.svg");
  }
  100% {
    background-image: url("./../../../../public/assets/img/burger_menu/8.svg");
  }
}

.lang {
  position: relative;
  display: flex;
  justify-content: center;
  max-width: 400px;
}

.lang [type="checkbox"] {
  position: absolute;
  left: -9999px;
}

.lang [type="checkbox"] + label {
  width: 50px;
  height: 50px;
  position: relative;
  margin: auto;
  overflow: hidden;
  border-radius: 50%;
  cursor: pointer;
  z-index: 999;
  box-shadow: 0 0 5px 5px #000 inset, 0 0 5px 2px #000;
}
.lang [type="checkbox"] + label:after {
  position: absolute;
  content: "";
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  box-shadow: -20px -20px 50px 2px #0000009b inset;
  border-radius: 50%;
}

.lang [type="checkbox"] + label > div {
  width: 420%;
  height: 240%;
  position: absolute;
  top: -69px;
  left: -29px;
  background: url(./../../../../public/assets/img/icons/earth.svg);
  background-size: cover;
}

.lang [type="checkbox"] + label:hover > div {
  animation: spin 10s linear alternate infinite;
}

@keyframes spin {
  to {
    transform: translateX(-50%);
  }
}

.menu li {
  position: absolute;
  top: 15px;
  left: 10%;
  transform: translateX(-18%) translateY(-30%);
  transition: all 0.4s;
}

.menu li:nth-child(1) {
  transition-delay: 0.2s;
}

.menu li:nth-child(2) {
  transition-delay: 0.15s;
}

.menu li button {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999;
  cursor: pointer;
}
.menu li:first-child button {
  background-image: url("./../../../../public/assets/img/icons/en.svg");
}
.menu li:nth-child(2) button {
  background-image: url("./../../../../public/assets/img/icons/ger.svg");
}
.menu li button span {
  position: absolute;
  top: 0;
  left: 0;
  transform: translateY(calc(-100% - 5px));
  width: 100%;
  font-size: 13px;
  white-space: nowrap;
  pointer-events: none;
  opacity: 0;
  transition: opacity 0.3s;
  color: black;
  font-family: "Overpass";
  font-weight: bold;
}

.lang input:checked ~ .menu li:nth-child(1) {
  top: 90px;
  left: calc(90% - 30px);
  transition-delay: 0.1s;
}

.lang input:checked ~ .menu li:nth-child(2) {
  top: 90px;
  left: calc(0% - 30px);
  transition-delay: 0.2s;
}

.lang input:checked ~ .menu li button span {
  opacity: 1;
  transition-delay: 0.9s;
}

.menu-ri {
  @include dflex();
}
