@import "./../../../mixin.scss";
@import "./../../../var.scss";

nav {
  padding: 31px 100px;
  position: fixed;
  top: 0;
  z-index: 999;
  width: 100vw;
  @include dflex();
  height: $navHeight;
  background: $bg-color;
  @media (max-width: 1200px) {
    padding: 31px 50px;
  }
  @media (max-width: 700px) {
    padding: 31px 25px;
  }
  .flex {
    width: 100%;
    max-width: 1920px;
    @include dflex($jc: space-between);
    .initials {
      position: relative;
      top: -14px;
      font-weight: 800;
      font-size: 24px;
      width: 105px;
      > span {
        position: absolute;
      }
      > span:nth-child(1) {
        left: 0;
      }
      > span:nth-child(2) {
        top: -3px;
        left: 15px;
      }
      > span:nth-child(3) {
        top: 5px;
        color: $bg-color;
        transform: rotate(20deg);
        font-size: 30px;
        line-height: 40px;
        left: 49px;
        z-index: 1;
      }
      > span:nth-child(4) {
        top: 5px;
        left: 46px;
      }
      > span:nth-child(5) {
        right: 0;
      }
    }
    .burger-menu {
      cursor: pointer;
      width: 40px;
      height: 40px;
      background-position: center;
      background-repeat: no-repeat;
      background-image: url("./../../../../public/assets/img/burger_menu/1.svg");
    }
    .openMenuAnimation {
      background-image: url("./../../../../public/assets/img/burger_menu/5.svg");
      animation: openBurgerMenu 0.4s;
    }
    .closeMenuAnimation {
      background-image: url("./../../../../public/assets/img/burger_menu/1.svg");
      animation: closeBurgerMenu 0.4s;
    }
  }
}

@keyframes openBurgerMenu {
  0% {
    background-image: url("./../../../../public/assets/img/burger_menu/1.svg");
  }
  25% {
    background-image: url("./../../../../public/assets/img/burger_menu/2.svg");
  }
  50% {
    background-image: url("./../../../../public/assets/img/burger_menu/3.svg");
  }
  75% {
    background-image: url("./../../../../public/assets/img/burger_menu/4.svg");
  }
  100% {
    background-image: url("./../../../../public/assets/img/burger_menu/5.svg");
  }
}
@keyframes closeBurgerMenu {
  0% {
    background-image: url("./../../../../public/assets/img/burger_menu/5.svg");
  }
  33% {
    background-image: url("./../../../../public/assets/img/burger_menu/6.svg");
  }
  66% {
    background-image: url("./../../../../public/assets/img/burger_menu/7.svg");
  }
  100% {
    background-image: url("./../../../../public/assets/img/burger_menu/8.svg");
  }
}

.lang {
  position: relative;
  display: flex;
  justify-content: center;
  max-width: 400px;
}

.lang [type="checkbox"] {
  position: absolute;
  left: -9999px;
}

.lang [type="checkbox"] + label {
  position: relative;
  width: 75px;
  height: 75px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  font-family: "Overpass";
  cursor: pointer;
  z-index: 1;
  background: black;
  color: white;
  border-radius: 50%;
  transition: all 0.175s;
}

.lang [type="checkbox"] + label:hover {
  background: $color-highlight;
}

.menu li {
  position: absolute;
  top: 15px;
  left: 10%;
  transition: all 0.4s;
}

.menu li:nth-child(1) {
  transition-delay: 0.2s;
}

.menu li:nth-child(2) {
  transition-delay: 0.15s;
}

.menu li a {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: $color-highlight;
}

.menu li a span {
  position: absolute;
  top: 0;
  left: 0;
  transform: translateY(calc(-100% - 5px));
  width: 100%;
  font-size: 13px;
  white-space: nowrap;
  pointer-events: none;
  opacity: 0;
  transition: opacity 0.3s;
  color: black;
  font-family: "Overpass";
  font-weight: bold;
}

.lang input:checked ~ .menu li:nth-child(1) {
  top: 90px;
  left: calc(100% - 30px);
  transition-delay: 0.1s;
}

.lang input:checked ~ .menu li:nth-child(2) {
  top: 90px;
  left: calc(0% - 55px);
  transition-delay: 0.2s;
}

.lang input:checked ~ .menu li a span {
  opacity: 1;
  transition-delay: 0.9s;
}
