<nav>
  <div class="flex">
    <img (click)="backToHome('home')" src="./assets/img/logo/logo2.png" />
    <div class="menu-ri">
      <div class="lang">
        <input
          id="menu"
          type="checkbox"
          [checked]="isLenMenuOpen"
          (change)="toggleLenMenu()"
        />
        <label for="menu"><div></div></label>
        <ul class="menu">
          <li>
            <button (click)="switchLanguage('en'); closeLenMenu()" href="#0">
              <span>{{ "header.english" | translate }}</span>
              <i class="fas fa-address-card" aria-hidden="true"></i>
            </button>
          </li>
          <li>
            <button (click)="switchLanguage('ger'); closeLenMenu()" href="#0">
              <span>{{ "header.german" | translate }}</span>
              <i class="fas fa-tasks" aria-hidden="true"></i>
            </button>
          </li>
        </ul>
      </div>
      <div
        (click)="toggleMenu(); closeLenMenu()"
        class="burger-menu"
        [ngClass]="{
          openMenuAnimation: menuOpen === true,
          closeMenuAnimation: menuOpen === false
        }"
      ></div>
    </div>
  </div>
</nav>

<app-menu [menuOpen]="menuOpen" (menuToggle)="toggleMenu()"></app-menu>
