@import "./../../../mixin.scss";
@import "./../../../var.scss";

nav {
  padding: 31px 100px;
  position: fixed;
  z-index: 999;
  width: 100%;
  max-width: 1920px;
  height: $navHeight;
  .flex {
    @include dflex($jc: space-between);
    .initials {
      position: relative;
      font-weight: 800;
      font-size: 24px;
      width: 105px;
      > span {
        position: absolute;
      }
      > span:nth-child(1) {
        left: 0;
      }
      > span:nth-child(2) {
        top: -3px;
        left: 15px;
      }
      > span:nth-child(3) {
        top: 5px;
        color: $bg-color;
        transform: rotate(20deg);
        font-size: 30px;
        line-height: 40px;
        left: 49px;
        z-index: 1;
      }
      > span:nth-child(4) {
        top: 5px;
        left: 46px;
      }
      > span:nth-child(5) {
        right: 0;
      }
    }
    .burger-menu {
      cursor: pointer;
      width: 40px;
      height: 40px;
      background-position: center;
      background-repeat: no-repeat;
      background-image: url("./../../../../public/assets/img/burger_menu/1.svg");
    }
    .openMenuAnimation {
      background-image: url("./../../../../public/assets/img/burger_menu/5.svg");
      animation: openBurgerMenu 0.4s;
    }
    .closeMenuAnimation {
      background-image: url("./../../../../public/assets/img/burger_menu/1.svg");
      animation: closeBurgerMenu 0.4s;
    }
  }
}

@keyframes openBurgerMenu {
  0% {
    background-image: url("./../../../../public/assets/img/burger_menu/1.svg");
  }
  25% {
    background-image: url("./../../../../public/assets/img/burger_menu/2.svg");
  }
  50% {
    background-image: url("./../../../../public/assets/img/burger_menu/3.svg");
  }
  75% {
    background-image: url("./../../../../public/assets/img/burger_menu/4.svg");
  }
  100% {
    background-image: url("./../../../../public/assets/img/burger_menu/5.svg");
  }
}
@keyframes closeBurgerMenu {
  0% {
    background-image: url("./../../../../public/assets/img/burger_menu/5.svg");
  }
  33% {
    background-image: url("./../../../../public/assets/img/burger_menu/6.svg");
  }
  66% {
    background-image: url("./../../../../public/assets/img/burger_menu/7.svg");
  }
  100% {
    background-image: url("./../../../../public/assets/img/burger_menu/8.svg");
  }
}
