<section>
  <div class="flex">
    <h2 class="autoShow">{{ "aboutMe.aboutMe" | translate }}</h2>
    <div class="content">
      <p class="autoShow">{{ "aboutMe.description" | translate }}</p>
      <p class="autoShow" style="margin-top: 20px">
        {{ "aboutMe.contactMe" | translate }}
      </p>
      <div class="btn-center autoShow">
        <button (click)="scrollToFooter()">
          {{ "aboutMe.letsTalk" | translate }}
        </button>
      </div>
    </div>

    <div class="img-container autoShow">
      <img
        ngSrc="./assets/img/application.jpg"
        width="353"
        height="497"
        priority
      />
    </div>
  </div>
  <div
    (click)="scrollToSkills()"
    class="to-skills-arrow"
    (mouseenter)="onMouseEnter()"
  >
    <div class="arrow"></div>
  </div>
</section>
