<div class="menu-overlay" [ngClass]="{ open: menuOpen }">
  <div class="menu-content">
    <div class="menu-links">
      <div class="ml-wrapper">
        <a>Über mich</a>
      </div>
      <div class="ml-wrapper">
        <a>Meine Fähigkeiten</a>
      </div>
      <div class="ml-wrapper">
        <a>Portfolio</a>
      </div>
    </div>
    <div class="bottom-menu">
      <div class="rectangle">
        <div class="sayHello">
          <span>Sag Hallo!</span>
          <a href="mailto:ph.wendschuch@web.de">ph.wendschuch&#64;web.de</a>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- <div class="menu-overlay" [ngClass]="{ open: menuOpen }">
    <div class="menu-content">
      <div class="menu-links">
        <div class="Title">
          <h1>
            Über mich
            <div class="Title__highlight"></div>
          </h1>
          <div class="Title__underline"></div>
        </div>
        <div class="Title">
          <h1>
            Meine Fähigkeiten
            <div class="Title__highlight"></div>
          </h1>
          <div class="Title__underline"></div>
        </div>
        <div class="Title">
          <h1>
            Portfolio
            <div class="Title__highlight"></div>
          </h1>
          <div class="Title__underline"></div>
        </div>
      </div>
      <div class="bottom-menu">
        <div class="rectangle">
          <div class="sayHello">
            <span>Sag Hallo!</span>
            <a href="mailto:ph.wendschuch@web.de">ph.wendschuch&#64;web.de</a>
          </div>
        </div>
      </div>
    </div>
  </div>
   -->
