<section>
  <div class="wrapper">
    <div class="rectangle"></div>
    <div class="sayHello-wrapper">
      <div class="sayHello autoShow">
        <span>{{ "footer.sayHello" | translate }}</span>
      </div>
    </div>

    <h4 class="autoShow">{{ "footer.discussProject" | translate }}</h4>
    <span class="autoShow">{{ "footer.contactRequest" | translate }}</span>
    <form
      class="autoShow"
      #ngForm="ngForm"
      (ngSubmit)="onSubmit(contactForm)"
      #contactForm="ngForm"
    >
      <div class="form__group">
        <input
          minlength="2"
          #nameInput="ngModel"
          [(ngModel)]="contactData.name"
          type="input"
          class="form__field"
          placeholder="Your name"
          name="name"
          required
        />
        @if(!nameInput.valid && nameInput.touched) {
        <img class="feedback-icon-input" src="./assets/img/icons/wrong.svg" />
        } @else if (nameInput.valid && nameInput.touched) {<img
          class="feedback-icon-input"
          src="./assets/img/icons/right.svg"
        />}
        <label class="form__label">{{ "footer.formName" | translate }}</label>
        @if (nameInput.touched && (!nameInput.value || nameInput.value.length
        === 0)) {
        <span class="err-msg">{{ "footer.error.nameEmpty" | translate }}</span>
        } @else if (nameInput.touched && nameInput.value &&
        nameInput.value.length > 0 && nameInput.value.length < 2) {
        <span class="err-msg">{{
          "footer.error.nameTooShort" | translate
        }}</span>
        }
      </div>
      <div class="form__group">
        <input
          [(ngModel)]="contactData.email"
          type="input"
          class="form__field"
          placeholder="Your email"
          name="Your email"
          required
          #emailInput="ngModel"
          pattern="[a-zA-Z0-9._%+\-]+@[a-zA-Z0-9.\-]+\.[a-zA-Z]{2,}"
        />
        @if(!emailInput.valid && emailInput.touched) {
        <img class="feedback-icon-input" src="./assets/img/icons/wrong.svg" />
        } @else if (emailInput.valid && emailInput.touched) {
        <img class="feedback-icon-input" src="./assets/img/icons/right.svg" />}
        <label class="form__label">{{ "footer.formEmail" | translate }}</label>
        @if (emailInput.touched && (!emailInput.value || emailInput.value.length
        === 0)) {
        <span class="err-msg">{{ "footer.error.emailEmpty" | translate }}</span>
        } @else if (!emailInput.valid && emailInput.touched) {
        <span class="err-msg">{{
          "footer.error.emailNotValid" | translate
        }}</span>
        }
      </div>
      <div class="form__group textarea-height" style="height: 202px">
        <textarea
          minlength="10"
          #textMessage="ngModel"
          [(ngModel)]="contactData.message"
          style="height: 202px"
          type="input"
          class="form__field"
          placeholder="Your message"
          name="Your message"
          required
        ></textarea>
        @if(!textMessage.valid && textMessage.touched) {
        <img class="feedback-icon-txt" src="./assets/img/icons/wrong.svg" />
        } @else if (textMessage.valid && textMessage.touched) {<img
          class="feedback-icon-txt"
          src="./assets/img/icons/right.svg"
        />}

        <label class="form__label">{{
          "footer.formMessage" | translate
        }}</label>
        @if (textMessage.touched && (!textMessage.value ||
        textMessage.value.length === 0)) {
        <span class="err-msg-text">{{
          "footer.error.textFieldEmpty" | translate
        }}</span>
        } @else if (textMessage.touched && textMessage.value &&
        textMessage.value.length > 0 && textMessage.value.length < 10) {
        <span class="err-msg-text">{{
          "footer.error.textFieldTooShort" | translate
        }}</span>
        }
      </div>
      <div class="confimation">
        <label class="checkbox-btn">
          <label for="checkbox"></label>
          <input
            type="checkbox"
            ngModel
            name="privacyPolicy"
            required
            #checkBox="ngModel"
          />
          <span class="checkmark"> </span>
        </label>
        @if(!ngForm.submitted && checkBox.invalid) {
        <span class="conf-msg"
          >{{ "footer.privacyPolicyTextBefore" | translate }}
          <a
            [routerLink]="['/privacyPolicy']"
            href="privacy"
            class="highlight"
            style="color: #e61c40"
            >{{ "footer.privacyPolicy" | translate }}</a
          >
          {{ "footer.privacyPolicyTextAfter" | translate }}</span
        >
        } @else {
        <span class="conf-msg"
          >{{ "footer.privacyPolicyTextBefore" | translate }}
          <a
            [routerLink]="['/privacyPolicy']"
            href="privacy"
            class="highlight"
            style="color: #00bc8f"
            >{{ "footer.privacyPolicy" | translate }}</a
          >

          {{ "footer.privacyPolicyTextAfter" | translate }}</span
        >
        }
      </div>
      <div class="snedMsgBtn-wrapper">
        <div class="btn-center">
          <button
            class="btn-desk"
            type="submit"
            value="submit"
            [disabled]="!contactForm.form.valid"
          >
            {{ "footer.sendMessage" | translate }}
          </button>
          <button
            class="btn-mob"
            type="submit"
            value="submit"
            [disabled]="!contactForm.form.valid"
          >
            {{ "footer.sendMessageMobile" | translate }}
          </button>
          <svg
            (click)="scrollToTop()"
            class="arrow"
            width="40"
            height="56"
            viewBox="0 0 40 56"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              class="arrow-head"
              d="M37.8525 17.1265L19.9263 3.00025L2.00011 17.1265"
              stroke="#FFFCF3"
              stroke-width="4"
            />
            <path
              class="arrow-shaft"
              d="M19.9263 55.0439L19.9263 3"
              stroke="#FFFCF3"
              stroke-width="4"
            />
          </svg>
        </div>
      </div>
    </form>
  </div>
</section>
