@import "./../../../mixin.scss";
@import "./../../../var.scss";

@keyframes pulse {
  0%,
  100% {
    transform: translate(-50%, -50%) rotate(0deg) scale(1);
  }
  50% {
    transform: translate(-50%, -50%) rotate(0deg) scale(1.2);
  }
}
section {
  width: 100vw;
  max-width: 100%;
  padding-top: 138px;
  @include dflex();
  @media (max-width: 428px) {
    margin-top: 50px;
  }
  .wrapper {
    position: relative;
    color: white;
    padding: 100px 100px 0px 100px;
    background: black;
    width: 100%;
    max-width: 1920px;
    @include dflex($fd: column);
    @media (max-width: 1200px) {
      padding: 100px 50px 0px 50px;
    }
    @media (max-width: 900px) {
      padding: 0px 50px 0px 50px;
    }
    @media (max-width: 700px) {
      padding-inline: 25px;
    }

    .rectangle {
      position: absolute;
      top: -148px;
      width: 100%;
      height: 148px;
      max-width: 1920px;
      background-image: url("./../../../../public/assets/img/rectangle.svg");
      background-repeat: no-repeat;
      background-size: cover;
    }
    .sayHello {
      position: absolute;
      background: black;
      color: white;
      top: -45px;
      left: 100px;
      cursor: default;
      @include dflex($fd: column, $ai: start, $jc: start);
      @media (max-width: 1200px) {
        left: 50px;
      }
      @media (max-width: 900px) {
        top: -100px;
      }
      @media (max-width: 700px) {
        left: 25px;
      }
      span {
        font-weight: 800;
        font-size: 4.063vw;
        @media (min-width: 1921px) {
          font-size: 78px;
        }
        @media (max-width: 1200px) {
          font-size: 45px;
        }
        @media (max-width: 500px) {
          font-size: 40px;
        }
        @media (max-width: 400px) {
          font-size: 34px;
        }
        &:hover {
          color: $color-highlight;
        }
      }
    }
    h4 {
      font-family: "Overpass";
      font-size: 32px;
      font-weight: 700;
      color: $color-highlight;
      text-align: center;
      @media (max-width: 500px) {
        font-size: 28px;
      }
      @media (max-width: 435px) {
        font-size: 25px;
      }
    }
    > span {
      color: white;
      margin-top: 18px;
      font-family: "Overpass";
      font-size: 23px;
      text-align: center;
      @media (max-width: 500px) {
        font-size: 19px;
      }
      @media (max-width: 435px) {
        font-size: 16px;
      }
    }
    form {
      width: 100%;
      @include dflex($fd: column);
    }
  }
}
.form__group {
  position: relative;
  padding: 15px 0 0;
  margin-block: 20px;
  width: 50%;
  height: 62px;
  @media (max-width: 1100px) {
    width: 80%;
  }
  @media (max-width: 500px) {
    width: 100%;
  }
  .form__field {
    position: relative;
    cursor: pointer;
    font-family: "Overpass";
    width: 100%;
    border: 0;
    border-bottom: 2px solid white;
    outline: 0;
    font-size: 16px;
    color: white;
    padding: 12.5px 0px 12.5px 25px;
    background: transparent;
    transition: border-color 0.175s ease-in-out, border 0.1s ease-in-out;
    &::placeholder {
      color: transparent;
    }
    &:placeholder-shown ~ .form__label {
      font-family: "Overpass";
      font-size: 16px;
      cursor: text;
      top: 30px;
      left: 25px;
    }
  }
  .form__label {
    position: absolute;
    top: 0;
    font-family: "Overpass";
    display: block;
    transition: 0.175s ease-in-out;
    color: white;
    padding-inline: 8px;
    z-index: -1;
  }
  .form__field:hover {
    border: 4px solid rgb(230, 201, 201);
  }
  .form__field:focus {
    cursor: text;
    border: 4px solid $color-highlight;
    ~ .form__label {
      z-index: 0;
      position: absolute;
      font-family: "Overpass";
      top: 6px;
      left: 10px;
      display: block;
      background: black;
      transition: 0.175s ease-in-out;
      color: $color-highlight;
      font-weight: 700;
    }
  }
}
textarea {
  resize: none;
}
.feedback-icon-txt,
.feedback-icon-input {
  position: absolute;
  top: 30px;
  right: 20px;
}
.feedback-icon-input {
  top: 27px;
}

.confimation {
  position: relative;
  @include dflex($g: 4px, $jc: start);
  width: 50%;
  margin-top: 5px;
  @media (max-width: 1100px) {
    width: 80%;
  }
  .conf-msg {
    margin-top: 26px;
    font-family: "Overpass";
    font-size: 14px;
    @media (max-width: 500px) {
      font-size: 12px;
    }
    .highlight {
      display: inline-block;
      cursor: pointer;
      padding-inline: 4px;
      font-size: 16px;
      transition: transform 0.175s;
    }
  }
  .rem-mar {
    bottom: -20px;
  }
  .checkbox-btn {
    display: block;
    position: relative;
    padding-left: 30px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    input {
      position: absolute;
      opacity: 0;
      cursor: pointer;
      height: 0;
      width: 0;
      &:checked ~ .checkmark {
        background-color: transparent;
      }
      &:checked ~ .checkmark:after {
        visibility: visible;
        opacity: 1;
        transform: translate(-50%, -50%) rotate(0deg) scale(1);
        animation: pulse 1s ease-in;
      }
      &:checked ~ .checkmark {
        transform: rotate(45deg);
        border: none;
      }
    }
    label {
      cursor: pointer;
      font-size: 14px;
    }
    .checkmark {
      position: absolute;
      top: 0;
      left: 0;
      height: 25px;
      width: 25px;
      border: 2.5px solid #ffffff;
      transition: 0.175s linear;
      &:after {
        content: "";
        position: absolute;
        visibility: hidden;
        opacity: 0;
        left: 50%;
        top: 30%;
        width: 10px;
        border: 2px solid $color-highlight;
        height: 14px;
        filter: drop-shadow(0px 0px 10px $color-highlight);
        border-width: 0 2.5px 2.5px 0;
        transition: 0.175s linear;
        transform: translate(-50%, -50%) rotate(-90deg) scale(0.2);
      }
    }
  }
  &:hover {
    > span .highlight {
      transform: scale(1.07);
    }
    .checkbox-btn .checkmark {
      border: 2.5px solid $color-highlight;
      border-radius: 50%;
    }
  }
}
.btn-center {
  width: 102%;
  margin-top: 42px;
  height: 60px;
  @include dflex($jc: space-between);
  @media (max-width: 900px) {
    justify-content: center;
  }
  .btn-desk {
    @include button(
      $width: 213px,
      $hoverWidth: 256px,
      $mt: 0px,
      $co: white,
      $bgCo: white,
      $coAc: black
    );
    display: block;

    @media (max-width: 900px) {
      display: none;
    }
    &:disabled {
      border-color: gray;
      color: gray;
      cursor: not-allowed;
    }
  }

  .btn-mob {
    @include button($width: 213px, $hoverWidth: 256px, $mt: 0px, $co: white);
    display: none;

    @media (max-width: 900px) {
      display: block;
    }
    &:disabled {
      border-color: gray;
      color: gray;
      cursor: not-allowed;
    }
    .disabled-hover:hover {
      width: 100px;
    }
  }
  .arrow {
    cursor: pointer;
    overflow: visible;
    @media (max-width: 900px) {
      display: none;
    }
    .arrow-shaft {
      transition: transform 0.175s;
      transform-origin: bottom;
    }
    .arrow-head {
      transition: transform 0.175s;
    }
    &:hover .arrow-shaft {
      transform: scaleY(1.5);
    }
    &:hover .arrow-head {
      transform: translateY(-25px);
    }
  }
}
.err-msg,
.err-msg-text {
  position: absolute;
  bottom: -30px;
  color: $err-color;
  display: block;
  font-family: "Overpass";
  transition: opacity 0.175s ease;
  opacity: 1;
}
.err-msg-text {
  bottom: -40px;
}
.err-msg.hidden,
.hidden {
  opacity: 0;
}
