<div class="ref-flex">
  <div class="ref-number">
    <span>01/05</span>
  </div>
  <div class="ref-animate">
    <div class="img-container">
      <img class="ref-img" src="./assets/img/references/join.png" alt="" />
      <img class="ref-arrow" src="./assets/img/arrows/ref_arrow.svg" alt="" />
    </div>
    <div class="ref-content">
      <div class="ref-info">
        <h2>Join</h2>
        <span>{{ skillsList }}</span>
        <p>
          Task manger inspired by the kanban System. Create and organize tasks
          drag and drop functions , assign users and categories.
        </p>
        <div class="ref-btns">
          <button>Github</button>
          <button>Live</button>
        </div>
      </div>
    </div>
  </div>
</div>
