<div class="ref-flex">
  <div class="ref-number">
    <span>0{{ refNum }}/0{{ refAll }}</span>
  </div>
  <div class="ref-animate">
    <div class="img-container">
      <img
        ngSrc="{{ imageUrl }}"
        width="620"
        height="349"
        [alt]="name + ' – project screenshot'"
      />
      <img
        class="ref-arrow"
        src="./assets/img/arrows/ref_arrow.svg"
        alt=""
        aria-hidden="true"
      />
    </div>
    <div class="ref-content">
      <div class="ref-info">
        <h3>{{ name }}</h3>
        <span>{{ skills }}</span>
        <p>{{ description }}</p>
        <div class="ref-btns">
          <button (click)="openGitHub(gitHub)">Github</button>
          <button (click)="openLiveLink(liveLink)">Live</button>
        </div>
      </div>
    </div>
  </div>
</div>
