<div class="ref-flex">
  <div class="ref-number">
    <span>0{{ refNum }}/0{{ refAll }}</span>
  </div>
  <div class="ref-animate">
    <div class="img-container">
      <img ngSrc="{{ imageUrl }}" width="620" height="349" priority />
      <img class="ref-arrow" src="./assets/img/arrows/ref_arrow.svg" />
    </div>
    <div class="ref-content">
      <div class="ref-info">
        <h2>{{ name }}</h2>
        <span>{{ skills }}</span>
        <p>{{ description }}</p>
        <div class="ref-btns">
          <button (click)="openGitHub(gitHub)">Github</button>
          <button (click)="openLiveLink(liveLink)">Live</button>
        </div>
      </div>
    </div>
  </div>
</div>
