@import "./../../mixin.scss";
@import "./../../var.scss";
section {
  width: 100vw;
  max-width: 100%;
  padding-inline: 100px;
  padding-top: 140px;
  margin-bottom: 100px;
  @include dflex($fd: column);
  @media (max-width: 1200px) {
    padding-inline: 50px;
  }
  @media (max-width: 700px) {
    padding-inline: 25px;
  }
}

.skills {
  max-width: 1920px;
  position: relative;
  border: 4px solid black;
  padding-block: 100px;
  @include dflex($g: 20px);
  flex-wrap: wrap;
  @media (max-width: 900px) {
    padding-block: 60px;
    gap: 42px;
  }
  .skills-header {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: -50px;
    padding-inline: 23px;
    background: $bg-color;
    @media (max-width: 900px) {
      top: -5vw;
      padding-inline: 16px;
    }
    @media (max-width: 500px) {
      padding-inline: 8px;
    }
    > h2 {
      white-space: nowrap;
      font-size: 78px;
      font-weight: 800;
      cursor: default;
      &:hover {
        color: $color-highlight;
      }
      @media (max-width: 900px) {
        font-size: 58px;
      }
      @media (max-width: 700px) {
        font-size: 45px;
      }
      @media (max-width: 550px) {
        font-size: 32px;
      }
      @media (max-width: 390px) {
        font-size: 24px;
      }
    }
  }
  .icon-box {
    @include dflex($fd: column, $g: 10px);
    opacity: 0;
    padding: clamp(20px, 5vw, 60px);
    &.show-icons {
      animation: showIcons 1s forwards;
    }
    &:hover {
      span {
        color: $color-highlight;
      }
      img {
        transform: rotateY(360deg) scaleX(-1) scale(1.15);
      }
    }
    span {
      transition: color 0.175s ease-in-out;
      font-family: "Overpass";
      font-weight: 700;
      text-align: center;
      text-wrap: wrap;
      width: clamp(60px, 5vw, 100px);
    }
    img {
      width: clamp(60px, 5vw, 100px);
      height: clamp(60px, 5vw, 100px);
      transition: transform 0.175s ease-in-out;
    }
  }
}

@keyframes showIcons {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
