<section>
  <div class="skills">
    <div class="skills-header">
      <h2>My skills</h2>
    </div>

    <img src="./assets/img/icons/angular.svg" />
    <img src="./assets/img/icons/typescript.svg" />
    <img src="./assets/img/icons/javascript.svg" />
    <img src="./assets/img/icons/html.svg" />
    <img src="./assets/img/icons/css.svg" />
    <img src="./assets/img/icons/firebase.svg" />
    <img src="./assets/img/icons/git.svg" />
    <img src="./assets/img/icons/scrum.svg" />
    <img src="./assets/img/icons/api.svg" />
    <img src="./assets/img/icons/material.svg" />
    <img src="./assets/img/icons/python.svg" />
  </div>
</section>
