<section>
  <div class="skills autoShow">
    <div class="skills-header">
      <h2>My skills</h2>
    </div>
    @for (icon of iconArr; track icon) {
    <div class="icon-box">
      <img
        [src]="'./assets/img/icons/' + icon.src + '.svg'"
        [alt]="icon.name"
      />
      <span>{{ icon.name }}</span>
    </div>
    }
  </div>
  <div
    class="to-portfolio-arrow autoShow"
    (mouseenter)="onMouseEnter()"
    (click)="scrollToRefs()"
  >
    <div class="arrow"></div>
  </div>
</section>
