<section>
  <div
    class="index-arrow"
    [ngClass]="{
      indexLeft: alignment === 'left',
      indexRight: alignment === 'right'
    }"
  >
    <button
      type="button"
      class="arrow-btn"
      [attr.aria-label]="ariaLabel"
      (click)="activate.emit()"
    >
    <svg
      aria-hidden="true"
      focusable="false"
      width="300"
      height="300"
      viewBox="0 0 300 300"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <g stroke="currentColor" stroke-width="4">
        <path d="M125 175m0 -75v75h75 M125 175l150 -150">
          <animate
            [attr.id]="sectionId"
            attributeName="d"
            values="M125 175m0 -75v75h75 M125 175l150 -150; M25 275m0 -75v75h75 M25 275l250 -250; M25 275m0 -75v75h75 M25 275l150 -150"
            dur="0.325s"
            repeatCount="1"
            fill="freeze"
            begin="indefinite"
          />
          <animate
            [attr.id]="sectionId + 'return'"
            attributeName="d"
            values="M25 275m0 -75v75h75 M25 275l150 -150; M25 275m0 -75v75h75 M25 275l250 -250; M125 175m0 -75v75h75 M125 175l150 -150"
            dur="0.325s"
            repeatCount="1"
            fill="freeze"
            begin="indefinite"
          />
        </path>
      </g>
    </svg>
    </button>
  </div>
</section>
