@import "./../../../mixin.scss";
@import "./../../../var.scss";
section {
  width: 100vw;
  max-width: 100%;
  @include dflex();
}
.index-arrow {
  display: flex;
  width: 100%;
  max-width: 1920px;
  padding: 0 calc(clamp(2rem, 13.333vw + -6rem, 6rem) - 1.25rem);
  transition: filter 0.675s ease-out;
  svg {
    cursor: pointer;
  }
  @media (width <= 428px) {
    transform: scale(0.66666);
    margin: -7.5rem 0 -5rem 0;
  }

  &.indexLeft {
    justify-content: flex-start;

    @media (width <= 428px) {
      margin-left: -3.75rem;
    }

    svg {
      transform: rotate(-90deg);
    }
  }

  &.indexRight {
    justify-content: flex-end;

    @media (width <= 428px) {
      margin-left: 3.25rem;
    }
  }
}
