<app-aot></app-aot>
<app-aboutMe id="aboutMe-section"></app-aboutMe>
<app-arrow
  alignment="right"
  [ariaLabel]="'a11y.scrollDown' | translate"
  (activate)="scrollTo('skills-section')"
/>
<app-skills id="skills-section"></app-skills>
<app-arrow
  alignment="left"
  [ariaLabel]="'a11y.scrollDown' | translate"
  (activate)="scrollTo('services-section')"
/>
<app-services-offer id="services-section"></app-services-offer>
<app-arrow
  alignment="right"
  [ariaLabel]="'a11y.scrollDown' | translate"
  (activate)="scrollTo('ref-section')"
/>
<app-references id="ref-section"></app-references>
<app-arrow
  alignment="right"
  [ariaLabel]="'a11y.scrollDown' | translate"
  (activate)="scrollTo('contact-section')"
/>
