<section>
  <div class="ref-header">
    <h2>Portfolio</h2>
    <p>
      Explore a selection of my work here - Interact with projects to see my
      skills in action.
    </p>
  </div>
  <div class="ref-flex">
    <div class="ref-number">
      <span>01/05</span>
    </div>
    <div class="ref-animate">
      <div class="img-container">
        <img src="./assets/img/tzest.png" alt="" />
      </div>
      <div class="ref-content">
        <div class="ref-info">
          <h2>Join</h2>
          <span>Angular | TypeScript | HTML | CSS | Firebase</span>
          <p>
            Task manger inspired by the kanban System. Create and organize tasks
            drag and drop functions , assign users and categories.
          </p>
          <div class="ref-btns">
            <button>Github</button>
            <button>Live</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
