@mixin dflex($jc: center, $ai: center, $g: 0px, $fd: row) {
  display: flex;
  justify-content: $jc;
  align-items: $ai;
  gap: $g;
  flex-direction: $fd;
}

@mixin button($width, $hoverWidth, $mt, $mb: 0px) {
  cursor: pointer;
  height: 68px;
  width: $width;
  font-size: 23px;
  font-family: "Overpass";
  margin-top: $mt;
  margin-bottom: $mb;
  border: 4px solid black;
  background: transparent;
  position: relative;
  transition: width 0.1s ease-in-out;
  &:hover {
    width: $hoverWidth;
    font-weight: 700;
    margin-left: -21.5px;
    margin-right: -21.5px;
  }
}
