@mixin dflex($jc: center, $ai: center, $g: 0px, $fd: row) {
  display: flex;
  justify-content: $jc;
  align-items: $ai;
  gap: $g;
  flex-direction: $fd;
}

@mixin button(
  $width,
  $hoverWidth,
  $mt,
  $mb: 0px,
  $hmr: -21.5px,
  $hml: -21.5px,
  $co: black
) {
  cursor: pointer;
  height: 68px;
  width: $width;
  font-size: 23px;
  font-family: "Overpass";
  margin-top: $mt;
  margin-bottom: $mb;
  border: 4px solid $co;
  background: transparent;
  position: relative;
  transition: width 0.175s ease-in-out;
  color: $co;
  &:hover {
    width: $hoverWidth;
    font-weight: 700;
    margin-left: $hml;
    margin-right: $hmr;
  }
  &:disabled {
    cursor: not-allowed;
    border-color: gray;
    color: gray;
    &:hover {
      width: $width;
      margin-left: 0;
      margin-right: 0;
      font-weight: normal;
    }
  }
}
