<div class="rectangle">
  <div class="sayHello">
    <span>Say Hi!</span>
  </div>
</div>
<section>
  <h4>Want to discuss a new project?</h4>
  <span>Say hello! let's discuss your ideas and make it happen</span>
  <div class="form__group">
    <input
      type="input"
      class="form__field"
      placeholder="Your name"
      name="Your name"
      required
    />
    <label class="form__label">Your name</label>
  </div>
  <div class="form__group">
    <input
      type="input"
      class="form__field"
      placeholder="Your email"
      name="Your email"
      required
    />
    <label class="form__label">Your email</label>
  </div>
  <div class="form__group textarea-height" style="height: 202px">
    <textarea
      style="height: 202px"
      type="input"
      class="form__field"
      placeholder="Your message"
      name="Your message"
      required
    ></textarea>
    <label class="form__label">Your message</label>
  </div>
  <div class="confimation">
    <label class="checkbox-btn">
      <label for="checkbox"></label>
      <input type="checkbox" />
      <span class="checkmark"></span>
    </label>
    <span
      >I've read the <span class="highlight">privacy policy</span> and agree to
      the processing of my data as outlined</span
    >
  </div>
</section>
