@import "./../../../mixin.scss";
@import "./../../../var.scss";

section {
  width: 100vw;
  max-width: 100%;
  background: black;
  padding: 48px 100px 48px 100px;
  @include dflex($fd: column);
  @media (max-width: 1200px) {
    padding-inline: 50px;
  }
  @media (max-width: 900px) {
    justify-content: start;
    height: 300px;
  }
  @media (max-width: 700px) {
    padding-inline: 25px;
  }
}
.bottom-wrapper {
  width: 100%;
  max-width: 1920px;
  .bottom {
    @include dflex($jc: space-between);
    @media (max-width: 900px) {
      position: relative;
      flex-direction: column;
      justify-content: center;
      gap: 26px;
    }
    .content {
      width: 200px;
      height: 69px;
      color: white;
      @include dflex($fd: column, $ai: start, $jc: space-around, $g: 20px);
      @media (max-width: 900px) {
        order: 2;
        gap: 56px;
        align-items: center;
      }
      > img {
        cursor: pointer;
        width: 140px;
        height: 55px;
      }
      .email {
        @include dflex($g: 5px);
        @media (min-width: 901px) {
          display: none;
        }
        > a {
          font-size: 23px;
          color: white;
          cursor: pointer;
          font-family: "Overpass";
          &:active {
            color: $color-highlight;
          }
          @media (max-width: 500px) {
            font-size: 19px;
          }
        }
      }
      .tag {
        @include dflex($g: 5px);
        @media (max-width: 900px) {
          display: none;
        }
      }
    }
    .menu-icons {
      position: relative;
      width: 204px;
      height: 40px;
      @include dflex($jc: space-between);
      @media (max-width: 900px) {
        position: static;
        justify-content: center;
        gap: 47px;
      }
      a svg {
        path {
          transition: fill 0.2s ease;
        }
        &:hover path {
          fill: $color-highlight;
        }
      }
      .legal-notice {
        cursor: pointer;
        position: absolute;
        color: white;
        bottom: -20px;
        right: 0;
        transition: color 0.2s ease;
        @media (max-width: 900px) {
          text-align: center;
          width: 100px;
          bottom: -35px;
          left: 50%;
          transform: translateX(-50%);
        }
        @media (max-width: 500px) {
          font-size: 12px;
        }
        &:hover {
          color: $color-highlight;
        }
      }
    }
  }
}
