@import "./../../mixin.scss";
@import "./../../var.scss";

.aot {
  position: absolute;
  top: 172px;
  height: calc(100vh - 172px);
  width: 100vw;
  overflow: hidden;
}
.title {
  position: relative;
  text-wrap: wrap;
  text-align: center;
  @include dflex($fd: column);
  h1 {
    margin-block-start: 0;
    margin-block-end: 0;
    font-weight: 800;
    font-size: 7vw;
    @media (max-width: 1200px) {
      font-size: 10.2vw;
    }
    @media (max-width: 700px) {
      font-size: 11vw;
    }
    @media (max-width: 500px) {
      font-size: 10vw;
    }
  }
  .underneath {
    position: absolute;
    top: 0px;
    mask-image: url("./../../../public/assets/img/mask.svg");
    background: $bg-color;
    mask-repeat: no-repeat;
    mask-position: 50%;
    mask-size: 0px;
    color: $color-highlight;
  }
  .underline-name {
    @include dflex($g: 8px);
    .underline {
      height: 3px;
      width: 26vw;
      background: black;
      @media (max-width: 1200px) {
        width: 36vw;
      }
    }
    span {
      color: $color-highlight;
      font-size: 2.5vw;
      font-weight: 700;
      font-family: Overpass;
      @media (max-width: 1200px) {
        font-size: 4vw;
      }
    }
  }
}
.bottom-title {
  margin: 64px 100px 0px 100px;
  @include dflex($jc: space-between, $ai: end);
  @media (max-width: 1200px) {
    margin: 64px 50px 0px 50px;
  }
  @media (max-width: 700px) {
    margin: 64px 25px 0px 25px;
  }
  > a {
    font-size: 23px;
    text-decoration: none;
    color: black;
    cursor: pointer;
    font-family: "Overpass";
    writing-mode: vertical-rl;
    text-orientation: sideways;
    transform: rotate(180deg);
  }
  .aot-arrow {
    @include dflex($fd: column);
    position: relative;
    width: 54px;
    height: 232px;
    img {
      position: absolute;
      animation: animateAotArrow 1.5s infinite;
    }
    .scroll-down {
      position: absolute;
      bottom: 0px;
      @include dflex($fd: column, $jc: end);
      > span {
        background: $bg-color;
        z-index: 1;
        font-family: "Overpass";
        font-size: 23px;
        font-weight: 300;
      }
    }
  }
}
.invisibleBg {
  height: 800px;
  position: relative;
  z-index: 5;
  background: $bg-color;
}
@keyframes animateAotArrow {
  from {
    top: -80px;
  }
  to {
    top: 250px;
  }
}
