@import "./../../mixin.scss";
@import "./../../var.scss";

section {
  height: 100vh;
  width: 100vw;
  max-width: 100%;
  overflow: hidden;
  @include dflex($fd: column, $jc: space-between);
  padding: 172px 100px 0px 100px;
  @media (max-width: 1200px) {
    padding: 172px 50px 0px 50px;
  }
  @media (max-width: 700px) {
    padding: 172px 25px 0px 25px;
  }
}
.title {
  position: relative;
  text-wrap: wrap;
  max-width: 1920px;
  text-align: center;
  cursor: default;
  @include dflex($fd: column);
  h1 {
    font-weight: 800;
    font-size: 128px;
    @media (max-width: 1200px) {
      font-size: 100px;
    }
    @media (max-width: 900px) {
      font-size: 11vw;
    }
  }
  .underneath {
    position: absolute;
    top: 0px;
    font-size: 134px;
    cursor: default;
    mask-image: url("./../../../public/assets/img/mask.svg");
    background: $bg-color;
    mask-repeat: no-repeat;
    color: $color-highlight;
    transition: mask-size 0.3s ease-in-out;
    @media (max-width: 2040px) {
      font-size: 128px;
    }
    @media (max-width: 1200px) {
      font-size: 100px;
    }
    @media (max-width: 900px) {
      font-size: 11vw;
    }
  }
  .underline-name {
    @include dflex($g: 8px);
    .underline {
      height: 3px;
      // width: 26vw;
      width: 480px;
      background: black;
      @media (max-width: 1200px) {
        width: 26vw;
      }
      @media (max-width: 900px) {
        width: 36vw;
      }
    }
    span {
      cursor: default;
      color: $color-highlight;
      font-size: 48px;
      font-weight: 700;
      font-family: Overpass;
      @media (max-width: 1200px) {
        font-size: 36px;
      }
      @media (max-width: 900px) {
        font-size: 4vw;
      }
    }
  }
}
.bottom-aot {
  max-width: 1920px;
  width: 100%;
  .bottom-title {
    width: 100%;
    @include dflex($jc: space-between, $ai: end);
    > a {
      font-size: 23px;
      text-decoration: none;
      color: black;
      cursor: pointer;
      font-family: "Overpass";
      writing-mode: vertical-rl;
      text-orientation: sideways;
      transform: rotate(180deg);
    }
    .aot-arrow {
      @include dflex($fd: column);
      position: relative;
      width: 54px;
      height: 232px;
      img {
        position: absolute;
        animation: animateAotArrow 1.5s infinite;
      }
      .scroll-down {
        position: absolute;
        cursor: default;
        bottom: 0px;
        @include dflex($fd: column, $jc: end);
        > span {
          background: $bg-color;
          z-index: 1;
          font-family: "Overpass";
          font-size: 23px;
          font-weight: 300;
          @media (min-width: 1201px) {
            font-size: 23px;
          }
          @media (max-width: 900px) {
            font-size: 23px;
          }
        }
      }
    }
  }
  .invisibleBg {
    height: 24px;
    position: relative;
    z-index: 5;
    width: 100vw;
    background: $bg-color;
  }
}

button {
  @include button($width: 247px, $hoverWidth: 290px, $mt: 92px, $mb: 16px);
  @media (max-width: 900px) {
    @include button($width: 247px, $hoverWidth: 290px, $mt: 24px, $mb: 24px);
  }
  @media (min-width: 901px) {
    display: none;
  }
}
@keyframes animateAotArrow {
  from {
    top: -80px;
  }
  to {
    top: 200px;
  }
}
