<section>
  <div
    class="title"
    (mouseenter)="onMouseEnter()"
    (mouseleave)="onMouseLeave()"
  >
    <h1>Frontend Developer</h1>
    <h1 class="underneath">Coding with Heart</h1>
    <div class="underline-name">
      <div class="underline"></div>
      <span>Philipp Wendschuch</span>
    </div>
  </div>
  <div>
    <button (click)="scrollToFooter()">Send me a message</button>
  </div>
  <div class="bottom-aot">
    <div class="bottom-title">
      <a href="mailto:ph.wendschuch@web.de">ph.wendschuch&#64;web.de</a>
      <div (click)="scrollToAboutMe()" class="aot-arrow">
        <img src="./assets/img/arrows/aot_arrow.svg" />
        <div class="scroll-down">
          <span>Scroll<br />Down</span>
        </div>
      </div>
    </div>
    <div class="invisibleBg"></div>
  </div>
</section>
